.contact-form9-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact-form9-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-form9-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-direction: column;
}
 
.contact-form9-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-content2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-form9-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form9-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-input3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-input4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form9-content3 {
  flex: 1;
  align-items: stretch;
}
 
.contact-form9-row1 {
  align-items: flex-start;
}
 
.contact-form9-content4 {
  flex: 1;
}
 
.contact-form9-icon1 {
  width: 32px;
  height: 32px;
}
 
.contact-form9-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-content5 {
  flex: 1;
}
 
.contact-form9-icon3 {
  width: 32px;
  height: 32px;
}
 
.contact-form9-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-content6 {
  flex: 1;
}
 
.contact-form9-icon5 {
  width: 32px;
  height: 32px;
}
 
.contact-form9-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form9-image {
  flex: 1;
  width: 50%;
}
 
.contact-form9-fragment1 {
  display: contents;
}
 
.contact-form9-text21 {
  display: inline-block;
}
 
.contact-form9-fragment2 {
  display: contents;
}
 
.contact-form9-text22 {
  display: inline-block;
}
 
.contact-form9-fragment3 {
  display: contents;
}
 
.contact-form9-text23 {
  display: inline-block;
}
 
.contact-form9-fragment4 {
  display: contents;
}
 
.contact-form9-text24 {
  display: inline-block;
}
 
.contact-form9-fragment5 {
  display: contents;
}
 
.contact-form9-text25 {
  display: inline-block;
}
 
.contact-form9-fragment6 {
  display: contents;
}
 
.contact-form9-text26 {
  display: inline-block;
}
 
.contact-form9-fragment7 {
  display: contents;
}
 
.contact-form9-text27 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form9-form {
    width: 50%;
  }
  .contact-form9-container {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form9-input3 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .contact-form9-content3 {
    width: 50%;
  }
  .contact-form9-content4 {
    width: 50%;
  }
  .contact-form9-contact-info1 {
    width: 50%;
  }
  .contact-form9-content5 {
    width: 50%;
  }
  .contact-form9-row2 {
    width: 100%;
    align-items: flex-start;
  }
}
 
@media(max-width: 767px) {
  .contact-form9-input3 {
    width: 100%;
  }
  .contact-form9-row2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contact-form9-content2 {
    flex-direction: column;
  }
  .contact-form9-form {
    width: 100%;
  }
  .contact-form9-input3 {
    width: 100%;
  }
  .contact-form9-content3 {
    width: 100%;
  }
  .contact-form9-row1 {
    flex-direction: column;
  }
  .contact-form9-content4 {
    width: 100%;
  }
  .contact-form9-content5 {
    width: 100%;
  }
  .contact-form9-row2 {
    width: 100%;
    flex-direction: column;
  }
  .contact-form9-image {
    width: 100%;
  }
}
