.contact-form101-contact11 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact-form101-max-width {
  display: flex;
  flex-direction: column;
}
 
.contact-form101-section-title {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-direction: column;
}
 
.contact-form101-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-content2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact-form101-form {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact-form101-input1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-input2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-text-input2 {
  background-color: var(--dl-color-theme-neutral-light);
}
 
.contact-form101-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-input3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-input4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-checkbox1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
}
 
.contact-form101-content3 {
  align-items: stretch;
}
 
.contact-form101-row1 {
  align-items: flex-start;
}
 
.contact-form101-icon1 {
  width: 32px;
  height: 32px;
}
 
.contact-form101-contact-info1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-icon3 {
  width: 32px;
  height: 32px;
}
 
.contact-form101-contact-info2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-icon5 {
  width: 32px;
  height: 32px;
}
 
.contact-form101-contact-info3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-form101-iframe {
  width: 100%;
  height: auto;
  min-height: 450px;
  object-fit: cover;
}
 
.contact-form101-fragment1 {
  display: contents;
}
 
.contact-form101-text21 {
  display: inline-block;
}
 
.contact-form101-fragment2 {
  display: contents;
}
 
.contact-form101-text22 {
  display: inline-block;
}
 
.contact-form101-fragment3 {
  display: contents;
}
 
.contact-form101-text23 {
  display: inline-block;
}
 
.contact-form101-fragment4 {
  display: contents;
}
 
.contact-form101-text24 {
  display: inline-block;
}
 
.contact-form101-fragment5 {
  display: contents;
}
 
.contact-form101-text25 {
  display: inline-block;
}
 
.contact-form101-fragment6 {
  display: contents;
}
 
.contact-form101-text26 {
  display: inline-block;
}
 
.contact-form101-fragment7 {
  display: contents;
}
 
.contact-form101-text27 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-form101-form {
    width: 50%;
  }
  .contact-form101-container {
    gap: var(--dl-layout-space-twounits);
    width: 100%;
    flex-direction: row;
  }
  .contact-form101-input3 {
    gap: var(--dl-layout-space-halfunit);
    width: 100%;
    flex-direction: column;
  }
  .contact-form101-content3 {
    width: 50%;
  }
  .contact-form101-row1 {
    flex-direction: column;
  }
  .contact-form101-content4 {
    width: 50%;
  }
  .contact-form101-contact-info1 {
    width: 50%;
  }
  .contact-form101-content5 {
    width: 50%;
  }
  .contact-form101-row2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .contact-form101-input3 {
    width: 100%;
  }
  .contact-form101-row2 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .contact-form101-content2 {
    flex-direction: column;
  }
  .contact-form101-form {
    width: 100%;
  }
  .contact-form101-input3 {
    width: 100%;
  }
  .contact-form101-content3 {
    width: 100%;
  }
  .contact-form101-row1 {
    flex-direction: column;
  }
  .contact-form101-content4 {
    width: 100%;
  }
  .contact-form101-content5 {
    width: 100%;
  }
  .contact-form101-row2 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
